/* Navbar Styles */
.dashboard-header {
  width: 100%;
  height: 70px;
  background-color: #662cef;
  color: white;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.icon{
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.dashboard-header-content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.dashboard-name {
  margin: 0;
  font-size: 24px;
  padding-left: 10px;
  padding-right: 20px;
}

.dashboard-user-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.dashboard-user-name {
  font-size: 14px;
  padding-right: 10px;
  padding-left: 550px;
}

.dashboard-logout-button {
  padding: 8px 16px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.dashboard-logout-button:hover:not(:disabled) {
  background-color: rgba(255, 255, 255, 0.3);
}
